mixin title()
  | Attack Review Testbed

mixin body()
  if viewAsPublic
    .banner.view-as-public
  h1
    | Recent Posts
  ol.posts
    for post in posts
      li
        if post.authorName
          if post.authorUrl
            a.author.name(href=post.authorUrl)
              = post.authorName
          else
            span.author.name
              = post.authorName
        if post.created
          span.created
            = fmtDate(post.created)
          div.body=(post.body || '')


include envelope.pug
