include includes/post-common.pug

mixin title()
  | Attack Review Testbed

mixin body()
  if viewAsPublic
    .banner.view-as-public
  h1
    | Recent Posts
  ol.posts
    for post in posts
      li
        +post(post)

include includes/envelope.pug
