body { font-family: Arial }

body:after { font-size: 25%; content: "Terms of Service: Don't!" }

h1 {
    font-size: 125%;
    border-left: .25em solid #66b9bf;
    padding-left: .25em;
}

h1, label, table.echo > tbody > tr > th {
    color: #07889b;
}

ol.posts {
    padding: 0;
}
ol.posts > li {
    display: block;
    list-style: none;
    margin-bottom: .5em;
}
ol.posts > li > .author.name {
    font-size: 50%;
    font-style: italic;
}
ol.posts > li > .author.name:after { content: " said " }
ol.posts > li > .created {
    font-size: 50%;
    font-style: italic;
}
ol.posts > li > .body {
    border-left: .25em solid #66b9bf;
    padding-left: .25em;
    margin-left: .25em;
}

table.echo {
    border-spacing: 0;
    border-collapse: collapse;
}
table.echo > tbody > tr > th {
    border: 2px solid #66b9bf;
    border: 2px solid #66b9bf;
    border: 2px solid #66b9bf;
}
table.echo > tbody > tr > td,
table.echo > tbody > tr > th {
    padding: 2px;
    margin: 0;
}

table.echo > tbody > tr > td {
    border-left: 2px solid #bbb;
    border-right: 2px solid #bbb;
    border-bottom: 2px solid #bbb;
}

.userfloat {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 10em;
    font-size: 50%;
    text-align: right;
}

.error {
    color: #800;
    font-style: italic;
}

label {
    font-size: 75%;
    font-weight: bold;
    padding-right: 1em;
    padding-left: 1em;
}

label.assocleft {
    padding-left: 0;
}

.userfloat > .user.name:after { content: ' : ' }

form.lightweight {
  display: inline
}

button.logoutlink {
    font: inherit;
    color: inherit;
    border: none;
    background: none !important;
    padding: 0 !important;
    border-bottom:1px solid #444;
    cursor: pointer;
}

.imagepreview {
    border: 1px dotted #66b9bf;
}

.imagepreview, .imagepreview label, .imagepreview input[type="checkbox"] {
    vertical-align: middle;
    display: inline-block;
    margin: 2px;
}

img.usercontent, .usercontent img {
    max-width: 128px;
    max-height: 128px;
}

form#account > table.formatting input[type="text"],
form#account > table.formatting input:not([type]) {
    width: 20em;
}

a.nounder {
    text-decoration: none;
}

banner {
    border-left: .25em solid #66b9bf;
    width: 10em;
    text-align: center;
    display: block;
}

view-as-public:before {
    content: "Public View!"
}
